*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*.swp
.~lock.*
*.drl
*.gbrjob
*.g2
*.g3
*.gto
*.gbo
*.gm1
*.gtl
*.gts
*.gbp
*.gbs
*.gtp
*.gbl
*.pos
kicad/seismobot-hardware-mini-cache.lib
kicad/seismobot-hardware-mini.pro
kicad/seismobot-hardware-mini.sch
